.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
  /* background-image: linear-gradient(bottom left, rgb(10, 226, 255) 1%, rgb(255, 72, 0) 50%,  rgb(10, 226, 255) 99%); */
  background: linear-gradient(45deg, red, rgb(211, 191, 10));


}

